.grid {
    background-color: yellow;
    height: 600px;
    width: 500px;
    position: relative;
}

.doodler {
    background-color: red;
    position: absolute;
    height: 40px;
    width: 40px;
}

.platform {
    background-color: green;
    position: absolute;
    height: 20px;
    width: 100px;
}